<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <% if
       (process.env.REACT_APP_DISABLE_LIVE_RELOAD==="true"
       )
       {
       %>
      <!-- 
            Live Reload was causing issues for us. Disable it by starting the app with
            REACT_APP_DISABLE_LIVE_RELOAD=true
          -->
      <script>
        {
          var WS = window.WebSocket;
          function DevWebSocket(s) {
            if (s === "ws://localhost:3000/sockjs-node") {
              console.info("[DEV NOTICE] Live Reload Has Been Disabled");
              return {};
            } else {
              // Pass through other usage of sockets
              return new WS(s);
            }
          }
          window.WebSocket = DevWebSocket;
        }
      </script>
      <% }
         %>
  </body>
</html>
